:root {
  --branding-color: rgb(201, 147, 12);
  --branding-secondary-color: rgba(124, 11, 11, 0.605);
  --heading-font-family: "Old Standard TT", serif;
  --default-font-family: "Tangerine", cursive;
}

.hero {
  text-align: center;
  background-color: black;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--default-font-family);
  font-size: 96px;
  color: var(--branding-color);
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-style: italic;
  text-decoration: underline;
  color: var(--branding-color);
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 34px;
  color: var(--branding-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--branding-secondary-color);
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-secondary-color);
}

.btn-branding-outline {
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  background: var(--branding-color);
  color: var(--branding-secondary-color);
  border: 1px solid var(--branding-secondary-color);
}

.project-description {
  padding: 120px 60px;
}

h1,
p,
h2 {
  font-family: var(--heading-font-family);
}

.img-thumbnail {
  max-width: 25px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    font-family: var(--heading-font-family);
  }
  h2 {
    font-size: 44px;
    font-family: var(--heading-font-family);
  }
  .hero {
    padding: 80px 20px;
  }
}
